.main {
  padding: 15px;
}
table {
  width: 430px;
}
table tr:nth-child(1) {
  background-color: black;
  color: #fff;
  font-weight: bold;
  height: 50px;
}
table tr:nth-child(1) td {
  padding-left: 10px;
}
table tr:nth-child(2) td {
  font-size: 12px;
  padding-top: 20px;
}
table tr:nth-child(3) {
  height: 80px;
  background-color: rgb(253, 242, 232);
}
table tr:nth-child(3) img {
  padding-left: 10px;
}
input[type="text"] {
  height: 20px;
  text-align: left;
  font-size: 12px;
}
.emailText {
  width: 200px;
}
div div:nth-child(2) {
  width: 430px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}
div div:nth-child(3) {
  width: 430px;
  text-align: right;
  background-color: rgb(236, 236, 236);
  padding-top: 5px;
  padding-right: 20px;
}
