

<script>
    let html3 = {
        init: function () {
        }
    };
    $(function () {
        html3.init();
    });
</script>
<div class="container">
    <h1>html3</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>PWD</th>
            <th>NAME</th>
        </tr>
        </thead>
        <tbody>
             <tr th:each="c : ${custs}">
                 <td><a th:href="@{/html/get(id=${c.id})}" th:text="${c.id}"></a></td>
                 <td th:text="${c.pwd}"></td>
                 <td th:text="${c.name}"></td>
             </tr>
        </tbody>
    </table>
</div>









