<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.AdminRepository">

    <resultMap id="adminRole" type="adminDto">
        <id property="id" column="id" />
        <result property="pwd" column="pwd" />
        <association property="role" javaType="roleDto">
            <id property="roleId" column="role_id"/>
            <result property="roleName" column="role_name"/>
        </association>
   </resultMap>
    <select id="selectOne" parameterType="String" resultMap="adminRole">
        SELECT u.id,u.pwd, r.role_id, r.role_name FROM admin_user u
        INNER JOIN admin_role r
        On u.arole = r.role_id
        WHERE u.id = #{id}
    </select>
    <select id="select" resultMap="adminRole">
        SELECT u.id,u.pwd, r.role_id, r.role_name FROM admin_user u
        INNER JOIN admin_role r
        On u.arole = r.role_id
    </select>
<!--    <insert id="insert" parameterType="custDto">-->
<!--        INSERT INTO db_cust VALUES (#{id},#{pwd},#{name})-->
<!--    </insert>-->
<!--    <update id="update" parameterType="custDto">-->
<!--        UPDATE db_cust SET pwd=#{pwd},name=#{name} WHERE id=#{id}-->
<!--    </update>-->
<!--    <delete id="delete" parameterType="String">-->
<!--        DELETE FROM db_cust WHERE id=#{id}-->
<!--    </delete>-->

</mapper>