.section01 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 70px;
}
.section01 > div:nth-child(1) {
  font-size: 36px;
  font-weight: 600;
  color: #222;
}
.section01 > div:nth-child(2) {
  font-size: 14px;
  color: #999;
  padding-top: 5px;
  padding-bottom: 45px;
}

/* table */
.product_table {
  width: 90%;
  margin: 0 auto;
}
.table-top {
  width: 100%;
  height: 54px;
  display: flex;
  font-size: 15px;
  vertical-align: middle;
  line-height: 54px;
  border-top: 3px solid rgb(92, 89, 89);
  border-bottom: 1px solid rgb(124, 122, 122);
  /* 위 | 오른쪽 | 아래 | 왼쪽 */
  margin: 0 0 50px 0;
}
.table-top > div:nth-of-type(1) {
  width: 20%;
  text-align: center;
  background-color: #f7f7f7;
  font-weight: bold;
  color: #777777;
}
.table-top > div:nth-of-type(2) {
  width: 80%;
  text-align: left;
  padding-left: 10px;
  color: #777777;
}
.table-bottom {
  padding-top: 50px;
}

#pd-img {
  width: 90%;
  max-width: 700px;
  margin: 0 5px;
}
.table-bottom h2 {
  text-align: left;
  margin: 30px 0 5px 0;
  color: #252525;
  font-size: 30px;
}
.table-bottom div:nth-of-type(2) {
  text-align: left;
  font-size: 13px;
  color: #777777;
  margin: 0 0 30px 0;
}
.table-bottom div:nth-of-type(3) {
  text-align: left;
  font-size: 13px;
  color: #777777;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #cccccc;
  padding: 0 0 30px 0;
}
