.businessSection2 {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.businessSection2 div div:nth-child(1) {
  font-size: 30px;
  padding-bottom: 10px;
}
.businessSection2 div div:nth-child(2) {
  color: gray;
  font-size: 14px;
  padding-bottom: 30px;
}
.businessSection2 div div:nth-child(3) {
  font-size: 30px;
  padding-bottom: 10px;
}
.businessSection2 div div:nth-child(4) {
  color: gray;
  font-size: 16px;
  padding-bottom: 50px;
}

.businessSection2 h3 {
  width: 100%;
  color: black;
  padding-top: 10px;
  text-align: left;
  font-size: 18px;
}
.businessSection2 h5 {
  font-size: 14px;
  text-align: left;
}
.businessSection2 img {
  width: 100%;
}
